<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>打赏-彩色之外</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 
        fixLine；34、36 、49代码行，替换成自己diy的内容
    -->
</head>

<body>
    <div id="app">
        <span class="reward-btn" style="padding: 5px 12px; cursor: pointer" @click="rewardSupportCard = true">🎉</span>
        <!-- 打赏支持 -->
        <div class="reward-support" v-show="rewardSupportCard">
            <div class="reward-support__card">
                <div class="reward-support__head">
                    <button type="button" :class="{ 'reward-support__btn--active': QRCodeModel == 1 }"
                        class="reward-support__btn" @click="QRCodeModel = 1">
                        支付宝
                    </button>
                    <button type="button" :class="{ 'reward-support__btn--active': QRCodeModel == 2 }"
                        :style="{ 'backgroundColor': QRCodeModel == 2 ? '#21aa38' : '' }" class="reward-support__btn"
                        @click="QRCodeModel = 2">
                        微信
                    </button>
                </div>
                <div class="reward-support__QRCode" style="margin-bottom: 10px">
                    <img v-if="QRCodeModel == 1"
                        src="https://gitee.com/zhang-kun8888/reward---project/raw/main-pages/zhifubao.jpg" alt="支付宝" />
                    <img v-else src="https://gitee.com/zhang-kun8888/reward---project/raw/main-pages/weixin.jpg"
                        alt="微信" />
                </div>
                <div style="margin-bottom: 10px; text-align: center; color: #baccbe">
                    <span v-if="QRCodeModel == 1">支付宝扫一扫</span>
                    <span v-else>微信扫一扫</span>
                </div>
                <div class="reward-support__quit">
                    <span @click="rewardSupportCard = false">下次一定</span>
                </div>
            </div>
            <div class="reward-support__shadow" @click.stop="rewardSupportCard = false"></div>
        </div>
        <iframe id="my-iframe" src="https://blog.csdn.net/m0_57904695?type=blog" frameborder="0"></iframe>
    </div>
</body>

<script>
    const app = new Vue({
        el: "#app",
        data: {
            // 打赏支持
            rewardSupportCard: false,
            //   1: 支付宝 2: 微信
            QRCodeModel: 1,
        },
        mounted() {
            // 禁止打开控制台
            document.onkeydown = function (e) {
                var currKey = 0, e = e || event || window.event;
                currKey = e.keyCode || e.which || e.charCode;
                if (currKey == 123) {
                    window.event.cancelBubble = true;
                    window.event.returnValue = false;
                }
            }
            // 禁止右键菜单
            document.oncontextmenu = function () {
                return false;
            }

        },
    });
</script>

</html>